<div class="container row dashboard-details">
    <div class="card">
        <h4 class="card-title"><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
        <div class="card-body">
            <p class="card-text post-content">{{content}}</p>
            <p class="card-text post-author">Posted on {{format_date date_created}}</p>
        </div>

    </div>
</div>